{% from "block/emailForm.html" import emailFormMacro %} 
{% extends "base.html" %} {% block content %}

<!-- Items -->
<section class="wrapper style1 align-center">
  <div class="inner">
    <h2>2021 Games</h2>
    <p>
      By signing up for a game you are agreeing to abide by both our
      <a href="https://docs.google.com/document/d/1Ou0u8oksn8meNL7cmKSJWAhOx_iNVCem__GTc4OVjmA/edit">League Rules and Code of Conduct</a>.
      We require you to be vaccinated to attend our events. Make sure to confirm your vaccination status on your <a href="{{ url_for('profile') }}">profile page.</a>
    </p>
      <p>Games are assigned with priority going towards making sure we have enough hosts and copies of the game to host a table. Afterwards tables are assigned first come, first serve. For every set of six folks that register we'll be able to add a new table. Table assignments are randomized. We'll send a reminder that game sign-ups are closing two weeks prior so you have the chance to update your attendance and/or ability to host. Table assignments will get sent out a week prior. All games start at 10:30am at their respective locations.
    </p>

    <div class="items style1 medium onscroll-fade-in">
      {%for game in games%}
      <section>
      <img width="30%" height="auto" src="{{ game.zodiac_sign | zodiacStaticImage }}" alt="Icons from the Noun Project">
        <header>
        {%if current_user.admin%}
        <h3><a href="game/{{game.id}}">{{game.zodiac_sign}}</a></h3>
        {% else %}
        <h3>{{game.zodiac_sign}}</h3>
        {% endif %}
        <p>{{game.date | strftime}}</p>
        </header>
        <dt>Registered Players:</dt>
        <ol>
          {%for signup in (game.id | registeredLookup)%}
          <li>
            {{signup.user.username}}</i>
          </li>
          {% endfor %}
        </ol>
        {% if (game.id | waitlistLookup)%}
        <dt>Waitlist:</dt>
        <ol>
          {%for signup in (game.id | waitlistLookup)%}
          <li>
            {{signup.user.username}}</i>
          </li>
          {% endfor %}
        </ol>
        {% endif %}
        <form method="post" action="/games">
          {{form.game_id(value=game.id)}}
          {{form.user_id(value=current_user.id)}} 
          {{ form.submit(class_="button big fit smooth-scroll-middle") }}
        </form>
      </section>
      {%endfor %}
    </div>
  </div>
</section>

{% if current_user.admin == True %}
<hr />
<section class="wrapper style1 align-center">
  <div class="inner">
    <h2>Create a Game</h2>
    <form action="/gamesCreate" method="post">
      {{ adminForm.hidden_tag() }}
      <div class="fields">
        <div class="field half">
          <label for="name">{{ adminForm.name.label }}</label>
          {{ adminForm.name() }} {% for error in
          adminForm.name.errors %}
          <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="field half">
          <label for="date">{{ adminForm.date.label }}</label>
          {{ adminForm.date(size = 32, class_="input") }} {% for error in
          adminForm.date.errors %}
          <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
      </div>
      <ul class="actions">
        <li>{{ adminForm.submit(class_="button is-primary") }}</li>
      </ul>
    </form>
  </div>
</section>

<hr />
<section class="wrapper style1 align-center">
  <div class="inner">
    <h3>Email All Players</h3>
    {{ emailFormMacro("/emailAll",emailForm) }}
  </div>
</section>


{% endif %} {% endblock %}
