{% extends "base.html" %} {% block content %}

<section class="wrapper style1 align-center">
  <div class="inner">
    <div class="index align-left">
      <!-- Form -->
      <section>
        <header>
          <h3>Welcome back {{user}}</h3>
          <p>
            <a href="{{ url_for('games') }}">Register for Games.</a>
          </p>
          <p>
            <a href="{{ url_for('logout') }}">Click to logout.</a>
          </p>
        </header>
        <form action="" method="post">
          {{ form.hidden_tag() }}
          <div class="field">
            <label for="username">{{ form.username.label }}</label>
            {{ form.username(size = 256, class_="input") }} {% for error in
            form.username.errors %}
            <p class="help is-danger">{{ error }}</p>
            {% endfor %}
          </div>
          <hr />
          <div class="fields">
            <div class="field half">
              {{ form.coc() }}
              <label for="coc">{{ form.coc.label }}</label>
            </div>
            <div class="field half">
              {{ form.vaccinated() }}
              <label for="vaccinated">{{ form.vaccinated.label }}</label>
            </div>
          </div>
          <hr />
          <div class="fields">
            <div class="field half">
              {{ form.host() }}
              <label for="host">{{ form.host.label }}</label>
            </div>
            <div class="field half">
              {{ form.ownGame() }}
              <label for="ownGame">{{ form.ownGame.label }}</label>
            </div>
          </div>
          <div class="field">
            <label for="address">{{ form.address.label }}</label>
            {{ form.address(size = 256, class_="input") }} {% for error in
            form.address.errors %}
            <p class="help is-danger">{{ error }}</p>
            {% endfor %}
          </div>
          <hr />
          <div class="fields">
            <div class="field half">
              <label for="password">{{ form.oldpassword.label }}</label>
              {{ form.oldpassword(size = 32, class_="input") }} {% for error in
              form.oldpassword.errors %}
              <p class="help is-danger">{{ error }}</p>
              {% endfor %}
            </div>
          </div>
          <div class="fields">
            <div class="field half">
              <label for="password">{{ form.password.label }}</label>
              {{ form.password(size = 32, class_="input") }} {% for error in
              form.password.errors %}
              <p class="help is-danger">{{ error }}</p>
              {% endfor %}
            </div>
            <div class="field half">
              <label for="password2">{{ form.password2.label }}</label>
              {{ form.password2(size = 32, class_="input") }} {% for error in
              form.password2.errors %}
              <p class="help is-danger">{{ error }}</p>
              {% endfor %}
            </div>
          </div>
          <div class="field">
            <div class="control">
              {{ form.submit(class_="button is-primary") }}
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
</section>

{% endblock %}
